body {
  background-color:lightskyblue;
}

[class*="container"] {
  display: flex;
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: black;
 
  box-shadow: 1px 1px 2px black;
  justify-content: center;
  border-radius: 3px;
}

.top_title_container {
  background-color: mediumseagreen;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Roboto';
}

.sub_title_container {
  background-color: darkolivegreen;
}

.main_container {
  background-color: darkgreen;
}

.body_container {
  background-color: green;
}

.app_container {
  background-color: olivedrab;
}

.footer_container {
  background-color: darkolivegreen;
}
