body {
  background-color: aquamarine;
}

[class*="container"] {
  display: flex;
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: black;
}

.top_title_container {
  background-color: mediumseagreen;
  justify-content: center;
}

.sub_title_container {
  background-color: darkolivegreen;
}

.main_container {
  background-color: darkgreen;
}

.body_container {
  background-color: green;
}

.app_container {
  background-color: olivedrab;
}

.footer_container {
  background-color: darkolivegreen;
}
